apiVersion: v1
kind: Secret
metadata:
  name: eodhd-secret
  namespace: argo
type: Opaque
data:
  # Replace this with your base64 encoded EODHD API key
  # echo -n "your-actual-api-key" | base64
  EODHD_API_KEY: [UPDATE]
